<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      width="75"
      height="75"
      src="../../assets/img/logo/55cbcf56-3252-4d0a-a54f-5b3d12e26850_200x200.png"
      alt="Memoneeds logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Login</a
      >
      <a class="nav-link" routerLink="/register" routerLinkActive="active"
        >Register</a
      >
      <a class="nav-link" style="cursor: pointer;">Logout</a>
    </ul>
  </div>
</nav>
